<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Warehouse</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Categories', categories_path %></li>
        <li><%= link_to 'References', references_path %></li>
        <li><%= link_to 'Destinations', destinations_path %></li>
      </ul>
    </div>
  </nav>